/* 
  Ejercicio 06 ♿️
  1. Inspecciona los elementos de nuestro blog e identifica
    los problemas de contraste en ellos. 🟣
  2. Define tu propia sistema de colores usando una herramienta
    de medición como https://accessible-colors.com/ o https://webaim.org/resources/contrastchecker/. 🟢
  3. Opcionalmente puedes escoger unos desde este generador
    de colores accesibles en http://colorsafe.co/. 🟢
  

  Crédito extra 01 👑 : Definiendo un tema oscuro accesible
  
  Usando el selector .theme-dark, reasigna las variables con colores accesibles
  para un background oscuro y un foreground brillante, puede que los valores que escogiste
  para el primer ejercicio te sirvan, asi como puede que no, inspecciona con el contrast checker
  si cambiando los valores de --color-text y --color-background es suficiente.
*/

:root {
  --color-text: #808080;
  --color-background: #FAFAFA;
  --color-primary: #63ced4;
  --color-secondary: #6eb4c3;
}

.theme-light {
  background-color: var(--color-background);
  color: var(--color-text);
}

.toggler {
  background-color: var(--color-secondary);
  border-radius: 8px;
  color: var(--color-text);
  cursor: pointer;
  font-size: var(--font-xs);
  padding: 4px 10px;
  position: absolute;
  right: 124px;
  top: 64px;
}


.header,
.content {
  margin: 0 auto;
  max-width: 768px;
}

.header {
  padding: 48px 0 0;
}

.header__title {
  font-size: var(--font-xxl);
  text-align: center;
}

.nav__list {
  align-items: center;
  display: flex;
  gap: 0 48px;
  justify-content: center;
  list-style: none;
  margin: 32px 0;
}

.nav__list a {
  color: var(--color-secondary);
  font-size: var(--font-m);
}

.content {
  padding: 0 0 72px;
}

.content__title {
  font-size: var(--font-xl);
}

.content__info {
  font-size: var(--font-s);
  margin-bottom: 16px;
}

.content__pic {
  margin: 32px 0;
}

.content__button {
  display: block;
  margin-left: auto;
  padding: 8px 24px;
  font-size: var(--font-s);
  border-radius: 8px;
  background-color: var(--color-secondary);
  color: var(--color-text);
}