:root {
  --color-text: #212121;
  --color-background: #FAFAFA;
  --color-primary: #9C27B0;
  --color-secondary: #BA68C8;
}

.theme-light {
  background-color: var(--color-background);
  color: var(--color-text);
}

.theme-dark {
  background-color: var(--color-text);
  color: var(--color-background);
}


.toggler {
  background-color: var(--color-secondary);
  border-radius: 8px;
  color: var(--color-text);
  cursor: pointer;
  font-size: var(--font-xs);
  padding: 4px 16px;
  position: absolute;
  right: 124px;
  top: 64px;
}


.header,
.content {
  margin: 0 auto;
  max-width: 768px;
}

.header {
  padding: 72px 0 0;
}

.header__title {
  font-size: var(--font-xxl);
  text-align: center;
}

.nav__list {
  align-items: center;
  display: flex;
  gap: 0 48px;
  justify-content: center;
  list-style: none;
  margin: 32px 0;
}

.nav__list a {
  color: var(--color-secondary);
  font-size: var(--font-m);
}

.content {
  padding: 0 0 72px;
}

.content__title {
  font-size: var(--font-xl);
}

.content__info {
  font-size: var(--font-s);
  margin: 16px 0;
}

.content__pic {
  margin: 32px 0;
}

.content__button {
  display: block;
  margin-left: auto;
  padding: 8px 24px;
  font-size: var(--font-s);
  border-radius: 8px;
  background-color: var(--color-secondary);
  color: var(--color-text);
}