/*
  Ejercicio 09 鮫勇
  1. Analiza los problemas de accesibilidad que tiene este ejercicio,
    puedes identificar los 5? 游릮
  2. Elimina la propiedad user-scalable=no del archivo index.html
    de esta lecci칩n. 游댮
  3. Modifica las propiedades de tama침o de la tipograf칤a para que
    usen alguna unidad relativa como rem. 游리
  4. Aumenta el tama침o de los iconos de redes sociales del footer,
    puedes usar font-size y un poco de padding para alcanzar un tama침o
    de 48px o m치s, aseg칰rate de que los elementos est칠n lo suficientemente
    separados para ser seleccionados f치cilmente. 游릭
  5. Deshazte de las propiedades order que est치n modificando el orden de 
    los elementos por fuera del markup. 游댮
*/


.header {
  height: 60px;
  background-color: var(--color-primary);
  padding: 0 16px;
  display: flex;
  align-items: center;
}

.header__title {
  color: var(--color-background);
  font-size: 20px;
}

.imc-calc {
  min-height: calc(100vh - 140px);
  width: 300px;
  margin: 0 auto;
  padding: 72px 0;
}

.imc-calc__title {
  font-size: 28px;
  text-align: center;
  margin: 16px 0;
}

.imc-calc__description {
  font-size: 11px;
}

.imc-form {
  padding: 32px 0;
  display: flex;
  flex-flow: column;
  gap: 24px 0;
  width: 200px;
  margin: 0 auto;
}

.imc-form__label:nth-of-type(2) {
  order: -1;
}

.imc-form__label {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 4px;
  font-size: 11px;
  color: var(--color-secondary);
  font-weight: var(--font-bold);
}

.imc-form__input {
  font-size: 11px;
  border-radius: 4px;
  border: 1px solid var(--color-primary);
  padding: 4px 12px;
  width: 100%;
}

.imc-form__cta {
  background-color: var(--color-primary);
  font-size: 11px;
  padding: 4px;
  color: var(--color-background);
  border-radius: 8px;
}

.imc-result {
  width: 200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 11px 0;
}

.imc-result__calc {
  font-size: 11px;
  font-weight: var(--font-bold);
}

.footer {
  height: 80px;
  background-color: var(--color-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 4px;
}

.footer__link:nth-of-type(2) {
  order: 3;
}

.footer__link {
  color: var(--color-background);
  font-size: 16px;
}