/*
  Ejercicio 07 鮫勇
  1. Adem치s de que el aspecto visual de este sitio
    no es el mejor, intenta descubrir los problemas que
    un usuario con discapacidades cognitivas podria encontrarse
    al navegar en este blog. 游릮

  2. Mejora los estilos del encabezado alterando propiedades
    como el tama침o, el grosor y el color de la fuente. 游릭

  3. Restablece los estilos de lista removiendo el estilo
    que resetea esta propiedad. 游댮 
    
  4. Restablece los estilos de los enlaces para que tengan un 
    color distintivo por defecto, al hacer hover y al haber
    sido visitados


  Credito extra 01 游녬 : Unidades de medida accesibles
  Uno de nuestros usuarios necesita escalar el tama침o
  del texto pues ahora mismo le cuesta leerlo.
  
  Qu칠 necesita el texto para que se escale al cambiar la
  configuraci칩n de texto en el navegador?
*/

article {
  max-width: 1024px;
  margin: 0 auto;
  padding: 72px 0;
}

article img {
  margin: 32px 0;
}

article h1 {
  font-size: 20px;
  font-weight: var(--font-regular);
  color: var(--color-text)
}

article p {
  font-size: 20px;
  margin: 32px 0;
}

article li {
  font-size: 20px;
  margin-bottom: 28px;
  list-style: none;
}

article a {
  color: var(--color-text);
  text-decoration: none;
}