/*
  Ejercicio 07 ♿️
  1. Además de que el aspecto visual de este sitio
    no es el mejor, intenta descubrir los problemas que
    un usuario con discapacidades cognitivas podria encontrarse
    al navegar en este blog. 🟣

  2. Mejora los estilos del encabezado alterando propiedades
    como el tamaño, el grosor y el color de la fuente. 🟢

  3. Restablece los estilos de lista removiendo el estilo
    que resetea esta propiedad. 🔴 
    
  4. Restablece los estilos de los enlaces para que tengan un 
    color distintivo por defecto, al hacer hover y al haber
    sido visitados


  Crédito Extra 01 👑 : Unidades de medida accesibles
  Uno de nuestros usuarios necesita escalar el tamaño
  del texto pues ahora mismo le cuesta leerlo.
  
  Qué necesita el texto para que se escale al cambiar la
  configuración de texto en el navegador?
*/

article {
  max-width: 1024px;
  margin: 0 auto;
  padding: 72px 0;
}

article img {
  margin: 32px 0;
  border-radius: 8px;
}

article h1 {
  font-size: 20px;
  font-weight: var(--font-regular);
  color: var(--color-text)
}

article p {
  font-size: 20px;
  margin: 32px 0;
}

article li {
  font-size: 20px;
  margin-bottom: 28px;
  list-style: none;
}

article a {
  color: var(--color-text);
  text-decoration: none;
}