.content {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 32px 0;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 320px;
}

.title {
  color: var(--color-primary);
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
}

.screen {
  align-items: center;
  background-color: var(--color-neutral);
  border-radius: 8px;
  display: flex;
  height: 64px;
  justify-content: center;
  overflow: hidden;
  padding: 0 32px;
  width: 100%;
}

.screen__text {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  letter-spacing: 2px;
  width: 100%;
}

.buttons {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}


.button {
  align-items: center;
  background-color: var(--color-primary);
  border-bottom: 4px solid var(--color-secondary);
  border-radius: 8px;
  color: var(--color-background);
  display: flex;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  height: 80px;
  justify-content: center;
  width: 80px;
}

.button--reset {
  background-color: var(--color-neutral);
  color: var(--color-text);
  width: 100%;
}

.indicatives {
  font-size: var(--font-m);
}

.indicatives__link {
  text-decoration: underline;
}
