* {
  color: transparent;
}

.bar,
.info {
  background-color: var(--color-primary);
  grid-column: 1/-1;
}

.bar {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 16px ;
}

.bar__title {
  color: var(--color-background);
  font-size: var(--font-l);
}

.menu {
  height: 50px;
  background-color: var(--color-secondary);
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: calc(100vh - 250px);
}

.panel {
  height: 100%;
}

.panel--a {
  grid-column: 1 / 4;
}

.panel--b {
  grid-column: 4 / 5;
  background-color: var(--color-text);
}

.info {
  height: 120px;
}
