.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.content__section {
  height: 100%;
}

.content__section--pic {
  position: relative;
}

.content__section--pic::after {
  content: 'Foto por Ivan Samkov de Pexels';
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  background-color: rgba(255,255,255, .5);
  font-size: var(--font-m);
  padding: 24px 0;
}

.content__section--keypad {
  background-color: var(--color-primary);
}

.pic {
  height: 100%;
  object-fit: cover;
}

.keypad {
  align-items: center;
  display: flex;
  flex-flow: column;
  gap: 32px 0;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  max-width: 480px;
}

.keypad__title {
  color: var(--color-background);
  font-size: var(--font-xxl);
  font-weight: var(--font-bold);
}

.keypad__screen {
  align-items: center;
  background-color: var(--color-background);
  border-radius: 8px;
  display: flex;
  height: 64px;
  justify-content: center;
  overflow: hidden;
  padding: 0 32px;
  width: 100%;
}

.keypad__screen-text {
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  letter-spacing: 4px;
  width: 100%;
}

.keypad__buttons {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
}

.keypad__button {
  align-items: center;
  background-color: var(--color-background);
  border-radius: 8px;
  color: var(--color-primary);
  display: flex;
  font-size: var(--font-l);
  font-weight: var(--font-bold);
  height: 80px;
  justify-content: center;
  width: 80px;
  cursor: pointer;
}

.keypad__button:focus {
  outline: 8px solid gold;
}

.keypad__button--reset {
  background-color: var(--color-background);
  color: var(--color-primary);
  width: 100%;
}

.indicatives {
  font-size: var(--font-m);
  color: var(--color-background);
}

.indicatives__link {
  text-decoration: underline;
  color: var(--color-background);
}
