
.article {
  max-width: 768px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  min-height: 100vh;
  padding: 100px 0;
}

.title {
  font-weight: var(--font-bold);
  color: var(--color-primary);
  margin-bottom: 16px;
}

.title--xl {
  font-size: var(--font-xl);
}

.title--l {
  font-size: var(--font-l);
}

.title--m {
  font-size: var(--font-m);
  color: var(--color-secondary);
}


.paragraph {
  font-size: var(--font-s);
  margin: 16px 0;
}

.list {
  margin: 0 24px;
}

.list__item {
  font-size: var(--font-s);
  margin: 16px 0;
  gap: 0 16px;
  display: flex;
  align-items: center;
}

.list__item:before {
  content: ''; 
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--color-text);
  border-radius: 50%;
}
