:root {
  --color-error: #FF6F60;
}

.content {
  display: flex;
  height: 100%;
}

.section {
  width: 65%;
  height: 100%;
  background-color: var(--color-text);
}

.section--form {
  width: 35%;
}

.background {
  height: 100%;
  object-fit: cover;
}

.section--form {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-weight: var(--font-bold);
  font-size: var(--font-xxl);
  margin: 32px 0;
  color: var(--color-primary);
}

.form {
  width: 60%;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  gap: 16px 0;
}

.label {
  font-weight: var(--font-bold);
  font-size: var(--font-m);
  color: var(--color-secondary);
}

.fieldset {
  border: none;
}

.text-input {
  border-radius: 8px;
  padding: 12px;
  font-size: var(--font-s);
  width: 100%;
  position: relative;
  border: 2px solid var(--color-neutral);
}

.text-input:not(:placeholder-shown):invalid {
  outline: 2px solid var(--color-error);
}

.text-input:not(:placeholder-shown):invalid  + .error {
  visibility: visible;
}

.error {
  font-size: var(--font-xs);
  font-weight: bold;
  visibility: hidden;
  color: var(--color-error);
}

.button {
  background-color: var(--color-primary);
  color: var(--color-background);
  font-size: var(--font-m);
  padding: 4px 0;
  border-radius: 8px;
  font-weight: var(--font-bold);
  width: 100%;
}

.field {
  display: flex;
  align-items: center;
  gap: 0 8px;
  margin: 16px 0;
  font-size: var(--font-s);
  color: var(--color-background);
}

.radio-input {
  width: 20px;
  height: 20px;
}

